<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobi.hubtech.goacg"
    android:versionCode="13"
    android:versionName="0.898" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application android:name="mobi.hubtech.goacg.app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="mobi.hubtech.goacg.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="mobi.hubtech.goacg.ProgramListActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity android:name="mobi.hubtech.goacg.PlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor">
        </activity>

        <activity android:name="mobi.hubtech.goacg.umeng.ConversationActivity"
            android:screenOrientation="portrait" />
        <activity android:name="mobi.hubtech.goacg.umeng.ContactActivity"
            android:screenOrientation="portrait" />
        
        <service android:name="mobi.hubtech.goacg.service.PushService">
        </service>
        
        <service android:name="mobi.hubtech.goacg.service.NotifyService">
        </service>
        
        <service android:name="com.umeng.common.net.DownloadingService"
		    android:exported="true"
		    android:process=":DownloadingService" >
		</service>
		
        <receiver android:name="mobi.hubtech.goacg.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <meta-data android:value="519f06a156240bc6aa00aac9" android:name="UMENG_APPKEY" />
        <meta-data android:value="和邪社" android:name="UMENG_CHANNEL" />
        
    </application>
    
</manifest>